## Load Filtered Enriched County Results into Pandas Dataframe

In [1]:
from awesome_puppies import votes_df as df
from awesome_puppies import regions, region_string, region_fips 
from awesome_puppies import votes_by_region, votes_by_party

In [2]:
df.shape

(268, 8)

In [3]:
df.columns

Index(['state', 'county_name', 'county_fips', 'region_id', 'democrat',
       'republican', 'other', 'totalvotes'],
      dtype='object')

In [4]:
df.dtypes

state          object
county_name    object
county_fips    object
region_id      object
democrat        int64
republican      int64
other           int64
totalvotes      int64
dtype: object

In [5]:
df.region_id.value_counts()

denver_region           58
washington_dc_region    41
new_york_city_region    29
raleigh_region          23
cedar_rapids_region     21
philadelphia_region     18
cleveland_region        17
boston_region           16
phoenix_region          11
san_francisco_region    11
tampa_region            10
milwaukee_region        10
las_vegas_region         3
Name: region_id, dtype: int64

In [6]:
df

,state,county_name,county_fips,region_id,democrat,republican,other,totalvotes
0,ARIZONA,APACHE,04001,phoenix_region,17083,8240,2338,27661
1,ARIZONA,COCONINO,04005,phoenix_region,32404,21108,6272,59784
2,ARIZONA,GILA,04007,phoenix_region,7003,14182,1127,22312
3,ARIZONA,GRAHAM,04009,phoenix_region,3301,8025,808,12134
4,ARIZONA,GREENLEE,04011,phoenix_region,1092,1892,286,3270
...,...,...,...,...,...,...,...,...
263,WYOMING,ALBANY,56001,denver_region,6890,7602,2568,17060
264,WYOMING,CAMPBELL,56005,denver_region,1324,15778,1097,18199
265,WYOMING,CARBON,56007,denver_region,1279,4409,686,6374
266,WYOMING,NIOBRARA,56027,denver_region,115,1116,83,1314
267,WYOMING,PLATTE,56031,denver_region,719,3437,373,4529

In [7]:
df[df.region_id == "las_vegas_region"]

,state,county_name,county_fips,region_id,democrat,republican,other,totalvotes
127,NEVADA,CLARK,32003,las_vegas_region,402227,320057,44872,767156
128,NEVADA,LINCOLN,32017,las_vegas_region,285,1671,176,2132
129,NEVADA,NYE,32023,las_vegas_region,5094,13324,1177,19595

In [8]:
votes_by_region()

                      democrat  republican   other  totalvotes
region_id
boston_region          1934103     1156623  193631     3284357
cedar_rapids_region     221010      211332   34150      466492
cleveland_region        888979      841143   79532     1809654
denver_region          1143242      908296  190667     2242205
las_vegas_region        407606      335052   46225      788883
milwaukee_region        559494      544524   76196     1180214
new_york_city_region   5183406     2921439  283604     8388449
philadelphia_region    2307990     1424799  135943     3868732
phoenix_region          882761     1027819  152599     2063179
raleigh_region          830076      609387   62388     1501851
san_francisco_region   2373055      616318  214937     3204310
tampa_region            989936     1180217   80149     2250302
washington_dc_region   2067816     1004339  189638     3261793

In [9]:
votes_by_region().democrat

region_id
boston_region           1934103
cedar_rapids_region      221010
cleveland_region         888979
denver_region           1143242
las_vegas_region         407606
milwaukee_region         559494
new_york_city_region    5183406
philadelphia_region     2307990
phoenix_region           882761
raleigh_region           830076
san_francisco_region    2373055
tampa_region             989936
washington_dc_region    2067816
Name: democrat, dtype: int64

In [10]:
votes_by_region().loc["boston_region"]

democrat      1934103
republican    1156623
other          193631
totalvotes    3284357
Name: boston_region, dtype: int64

In [11]:
votes_by_party()

region_id,boston_region,cedar_rapids_region,cleveland_region,denver_region,las_vegas_region,milwaukee_region,new_york_city_region,philadelphia_region,phoenix_region,raleigh_region,san_francisco_region,tampa_region,washington_dc_region
democrat,1934103,221010,888979,1143242,407606,559494,5183406,2307990,882761,830076,2373055,989936,2067816
republican,1156623,211332,841143,908296,335052,544524,2921439,1424799,1027819,609387,616318,1180217,1004339
other,193631,34150,79532,190667,46225,76196,283604,135943,152599,62388,214937,80149,189638
totalvotes,3284357,466492,1809654,2242205,788883,1180214,8388449,3868732,2063179,1501851,3204310,2250302,3261793

In [12]:
votes_by_party().boston_region

democrat      1934103
republican    1156623
other          193631
totalvotes    3284357
Name: boston_region, dtype: int64

In [13]:
votes_by_party().loc["democrat"]

region_id
boston_region           1934103
cedar_rapids_region      221010
cleveland_region         888979
denver_region           1143242
las_vegas_region         407606
milwaukee_region         559494
new_york_city_region    5183406
philadelphia_region     2307990
phoenix_region           882761
raleigh_region           830076
san_francisco_region    2373055
tampa_region             989936
washington_dc_region    2067816
Name: democrat, dtype: int64

In [14]:
region_fips()

region_id
boston_region           [25001, 25007, 25009, 25017, 25019, 25021, 250...
cedar_rapids_region     [19005, 19011, 19013, 19017, 19019, 19023, 190...
cleveland_region        [39005, 39007, 39019, 39035, 39043, 39055, 390...
denver_region           [08001, 08003, 08005, 08007, 08013, 08014, 080...
las_vegas_region                                    [32003, 32017, 32023]
milwaukee_region        [55027, 55055, 55059, 55079, 55089, 55101, 551...
new_york_city_region    [09001, 34003, 34013, 34017, 34019, 34023, 340...
philadelphia_region     [10001, 10003, 34001, 34005, 34007, 34009, 340...
phoenix_region          [04001, 04005, 04007, 04009, 04011, 04012, 040...
raleigh_region          [37037, 37051, 37063, 37065, 37069, 37077, 370...
san_francisco_region    [06001, 06013, 06033, 06041, 06045, 06055, 060...
tampa_region            [12017, 12049, 12053, 12055, 12057, 12081, 121...
washington_dc_region    [11001, 24001, 24009, 24017, 24021, 24031, 240...
Name: county_fips, dtype: object

In [15]:
regions()

['boston_region',
 'cedar_rapids_region',
 'cleveland_region',
 'denver_region',
 'las_vegas_region',
 'milwaukee_region',
 'new_york_city_region',
 'philadelphia_region',
 'phoenix_region',
 'raleigh_region',
 'san_francisco_region',
 'tampa_region',
 'washington_dc_region']

In [16]:
for region in regions():
    print (region_string(region))

Boston Region
Cedar Rapids Region
Cleveland Region
Denver Region
Las Vegas Region
Milwaukee Region
New York City Region
Philadelphia Region
Phoenix Region
Raleigh Region
San Francisco Region
Tampa Region
Washington DC Region